mat-toolbar(color="primary")
  button.navbtn(mat-stroked-button, routerLink='/') Stute Inventory
  button.navbtn(mat-raised-button, color="accent", routerLink='scan') Scanner
  button.navbtn(mat-raised-button, color="accent", routerLink='generate') Generate PDF
